html,body,div,p,span{
  margin:0;
  padding:0;
}
html,body{
  height:100%;
  width:100%;
  overflow:hidden;
}

#overlay{
  height:100%;
  width:100%;
  position:absolute;
  z-index:999999;
  display:block;
  background:rgba(0,0,0,0.75);
}
#overlay button{
  position:absolute;
  z-index:1000000;
  top:50%;
  left:50%;
  padding:0;
  overflow:hidden;
  white-space:nowrap;
  border-radius:3px;
  border:none;
  font-family:'Helvetica-Neue', Helvetica Neue, 'Helvetica', Helvetica, sans-serif;
  text-align:center;
  vertical-align:middle;
  cursor:pointer;
}
button#start{
  height:40px;
  width:100px;
  margin-top:-20px;
  margin-left:-50px;
  background:#0086ee;
  font-size:15px;
  font-weight:300;
  line-height:40px;
  color:rgb(210,210,210);
}
button#fullscreen{
  height:24px;
  width:130px;
  margin-top:30px;
  margin-left:-65px;
  background:rgb(200,200,200);
  font-size:12px;
  font-weight:300;
  line-height:20px;
  color:rgb(20,20,20);
}
button#pointerlock{
  height:24px;
  width:130px;
  margin-top:60px;
  margin-left:-65px;
  background:rgb(200,200,200);
  font-size:12px;
  font-weight:300;
  line-height:20px;
  color:rgb(20,20,20);
}

#viewport{
  height:100%;
  width:100%;
  overflow:hidden;
  cursor:crosshair;
  background-color:grey;
  -webkit-perspective:700px;
  -moz-perspective:700px;
  -o-perspective:700px;
  -ms-perspective:700px;
  perspective:700px;
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  -o-transform-style:preserve-3d;
  -ms-transform-style:preserve-3d;
  transform-style:preserve-3d;
}

#camera{
  left:50%;
  top:50%;
  -webkit-transform:translateZ(700px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -moz-transform:translateZ(700px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -o-transform:translateZ(700px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -ms-transform:translateZ(700px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  transform:translateZ(700px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
#camera.animation{
    animation:spin 15s linear infinite;
}
@keyframes spin{
  25%{
    transform:translateZ(700px) rotateX(-45deg) rotateY(-90deg) rotateZ(0deg);
  }
  50%{
    transform:translateZ(700px) rotateX(0deg) rotateY(-180deg) rotateZ(0deg);
  }
  75%{
    transform:translateZ(700px) rotateX(15deg) rotateY(-270deg) rotateZ(0deg);
  }
  100%{
    transform:translateZ(700px) rotateX(0deg) rotateY(-360deg) rotateZ(0deg);
  }
}

#world{
  left:50%;
  top:50%;
  -webkit-transform:translateY(480px) translateZ(-2340px) translateX(-840px);
  -moz-transform:translateY(480px) translateZ(-2340px) translateX(-840px);
  -o-transform:translateY(480px) translateZ(-2340px) translateX(-840px);
  -ms-transform:translateY(480px) translateZ(-2340px) translateX(-840px);
  transform:translateY(480px) translateZ(-2340px) translateX(-840px);
}
#world.animation{
  transform:translateY(480px) translateZ(-2340px) translateX(-840px);
  animation:pan 15s linear infinite;
}
@keyframes pan{
  25%{
    transform:translateY(800px) translateZ(-1250px) translateX(-1680px);
  }
  50%{
    transform:translateY(480px) translateZ(0px) translateX(-840px);
  }
  75%{
    transform:translateY(40px) translateZ(-1250px) translateX(0px);
  }
  100%{
    transform:translateY(480px) translateZ(-2340px) translateX(-840px);
  }
}

#fps{
  margin:0px 0px 0px 4px;
  display:none;
  position:fixed;
  bottom:0;
  left:0;
  z-index:999;
  color: #000000;
  font-family:Helvetica,Arial,sans-serif;
  font-size:15px;
  font-weight:900;
  text-shadow:
   -1px -1px 0 #FFFFFF,  
    1px -1px 0 #FFFFFF,
    -1px 1px 0 #FFFFFF,
     1px 1px 0 #FFFFFF;
}
#fps:before{
  content:'FPS: ';
}

.object{
  position:absolute;
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  -o-transform-style:preserve-3d;
  -ms-transform-style:preserve-3d;
  transform-style:preserve-3d;
}

#ground{
  height:2340px;
  width:1680px;
  background-color:saddlebrown;
  background-image:url("https://cdn.jsdelivr.net/gh/KingForking1234/maimg/mami.jpg");
  background-size:50%;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  -webkit-transform:rotateX(90deg);
  -moz-transform:rotateX(90deg);
  -o-transform:rotateX(90deg);
  -ms-transform:rotateX(90deg);
  transform:rotateX(90deg);
  -webkit-transform-origin:0% 0%;
  -moz-transform-origin:0% 0%;
  -o-transform-origin:0% 0%;
  -ms-transform-origin:0% 0%;
  transform-origin:0% 0%;
}
#ground:before{
	content:"";
	position:absolute;
	width:2340px;
	height:1680px;
  top:-1680px;
	z-index:-1;
	background: url(https://cdn.jsdelivr.net/gh/KingForking1234/maimg/mami.jpg) repeat;
  background-size:50% 40%;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	transform:rotate(90deg);
  -webkit-transform-origin:0% 100%;
  -moz-transform-origin:0% 100%;
  -o-transform-origin:0% 100%;
  -ms-transform-origin:0% 100%;
  transform-origin:0% 100%;
}

#rug{
  height:1080px;
  width:720px;
  top:50%;
  left:50%;
  margin-top:-540px;
  margin-left:-360px;
	background-image: url(https://cdn.jsdelivr.net/gh/KingForking1234/maimg/mami.jpg) repeat;
  background-size:20% 20%;
	background-color:ivory;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  -webkit-transform:translateZ(2px);
  -moz-transform:translateZ(2px);
  -o-transform:translateZ(2px);
  -ms-transform:translateZ(2px);
  transform:translateZ(2px);
}

#wall1{
  height:535px;
  width:1680px;
  margin-top:-535px;
  background-color: #aac69c;
background-image: url(https://cdn.jsdelivr.net/gh/KingForking1234/maimg/mami.jpg);
  background-size:15%;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  -webkit-transform:rotateX(-90deg);
  -moz-transform:rotateX(-90deg);
  -o-transform:rotateX(-90deg);
  -ms-transform:rotateX(-90deg);
  transform:rotateX(-90deg);
  -webkit-transform-origin:0% 100%;
  -moz-transform-origin:0% 100%;
  -o-transform-origin:0% 100%;
  -ms-transform-origin:0% 100%;
  transform-origin:0% 100%;
  -webkit-box-shadow: inset 0px -75px 0px 0px rgb(255,255,237);
-moz-box-shadow: inset 0px -75px 0px 0px rgb(255,255,237);
box-shadow: inset 0px -75px 0px 0px rgb(255,255,237);
}
#wall1:after{
  content:'';
  height:610px;
  width:1473px;
  position:absolute;
  margin-top:-609px;
  margin-left:-1px;
  background-color:#a6c299;
  background-image: url(https://cdn.jsdelivr.net/gh/KingForking1234/maimg/mami.jpg);
  background-size:15%;
  background-position:540px 50%;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  -webkit-transform:rotateX(-45deg);
  -moz-transform:rotateX(-45deg);
  -o-transform:rotateX(-45deg);
  -ms-transform:rotateX(-45deg);
  transform:rotateX(-45deg);
  -webkit-transform-origin:0% 100%;
  -moz-transform-origin:0% 100%;
  -o-transform-origin:0% 100%;
  -ms-transform-origin:0% 100%;
  transform-origin:0% 100%;
}

#wall2{
  height:960px;
  width:2342px;
  margin-top:-1px;
  background-color:#a9c59b;background-image: url();
  background-size:15%;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  -webkit-transform:rotateZ(90deg) rotateX(90deg);
  -moz-transform:rotateZ(90deg) rotateX(90deg);
  -o-transform:rotateZ(90deg) rotateX(90deg);
  -ms-transform:rotateZ(90deg) rotateX(90deg);
  transform:rotateZ(90deg) rotateX(90deg);
  -webkit-transform-origin:0% 0%;
  -moz-transform-origin:0% 0%;
  -o-transform-origin:0% 0%;
  -ms-transform-origin:0% 0%;
  transform-origin:0% 0%;
}

#wall3{
  height:700px;
  width:1680px;
  margin-top:2340px;
  background-color:#aac69c;
  background-image: url();
  background-size:15%;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  -webkit-transform:rotateX(90deg);
  -moz-transform:rotateX(90deg);
  -o-transform:rotateX(90deg);
  -ms-transform:rotateX(90deg);
  transform:rotateX(90deg);
  -webkit-transform-origin:0% 0%;
  -moz-transform-origin:0% 0%;
  -o-transform-origin:0% 0%;
  -ms-transform-origin:0% 0%;
  transform-origin:0% 0%;
}
#wall3:after{
  content:'';
  height:610px;
  width:1682px;
  position:absolute;
  margin-top:535px;
  margin-left:-1px;
  background-color:#a6c299;
  background-image: url();
  background-size:15%;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  -webkit-transform:rotateX(45deg);
  -moz-transform:rotateX(45deg);
  -o-transform:rotateX(45deg);
  -ms-transform:rotateX(45deg);
  transform:rotateX(45deg);
  -webkit-transform-origin:0% 0%;
  -moz-transform-origin:0% 0%;
  -o-transform-origin:0% 0%;
  -ms-transform-origin:0% 0%;
  transform-origin:0% 0%;
}


#wall4{
  height:960px;
  width:2342px;
  margin-top:-961px;
  margin-left:1680px;
  background-color:#a9c59b;background-image: url();
  background-size:15%;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  -webkit-transform:rotateZ(90deg) rotateX(-90deg);
  -moz-transform:rotateZ(90deg) rotateX(-90deg);
  -o-transform:rotateZ(90deg) rotateX(-90deg);
  -ms-transform:rotateZ(90deg) rotateX(-90deg);
  transform:rotateZ(90deg) rotateX(-90deg);
  -webkit-transform-origin:0% 100%;
  -moz-transform-origin:0% 100%;
  -o-transform-origin:0% 100%;
  -ms-transform-origin:0% 100%;
  transform-origin:0% 100%;
}

#wall5{
  height:960px;
  width:210px;
  margin-top:-190px;
  margin-left:1471px;
  background-color:#a6c299;
  background-image: url();
  background-size:15%;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  -webkit-transform:rotateX(-90deg);
  -moz-transform:rotateX(-90deg);
  -o-transform:rotateX(-90deg);
  -ms-transform:rotateX(-90deg);
  transform:rotateX(-90deg);
  -webkit-transform-origin:0% 100%;
  -moz-transform-origin:0% 100%;
  -o-transform-origin:0% 100%;
  -ms-transform-origin:0% 100%;
  transform-origin:0% 100%;
  -webkit-box-shadow: inset 0px -75px 0px 0px rgba(255,255,237,1);
-moz-box-shadow: inset 0px -75px 0px 0px rgba(255,255,237,1);
box-shadow: inset 0px -75px 0px 0px rgba(255,255,237,1);
}

#wall6{
  height:771px;
  width:960px;
  margin-top:-1px;
  margin-left:1471px;
  background-color:#a9c59b;
  background-image: url();
  background-size:15%;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  -webkit-transform:rotateY(-90deg);
  -moz-transform:rotateY(-90deg);
  -o-transform:rotateY(-90deg);
  -ms-transform:rotateY(-90deg);
  transform:rotateY(-90deg);
  -webkit-transform-origin:0% 0%;
  -moz-transform-origin:0% 0%;
  -o-transform-origin:0% 0%;
  -ms-transform-origin:0% 0%;
  transform-origin:0% 0%;
  -webkit-box-shadow: inset 75px 0px 0px 0px rgba(255,255,237,1);
-moz-box-shadow: inset 75px 0px 0px 0px rgba(255,255,237,1);
box-shadow: inset 75px 0px 0px 0px rgba(255,255,237,1);
}

#ceiling{
  height:2340px;
  width:1680px;
  background-color:ivory;
  background-image: url();
  background-size:15%;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  -webkit-transform:rotateX(180deg) translateZ(-959px);
  -moz-transform:rotateX(180deg) translateZ(-959px);
  -o-transform:rotateX(180deg) translateZ(-959px);
  -ms-transform:rotateX(180deg) translateZ(-959px);
  transform:rotateX(180deg) translateZ(-959px);
  -webkit-transform-origin:50% 50%;
  -moz-transform-origin:50% 50%;
  -o-transform-origin:50% 50%;
  -ms-transform-origin:50% 50%;
  transform-origin:50% 50%;
}

#coffeeTable{
  height:305px;
  width:464px;
  background-color:rgba(0,0,0,0.04);
  top:25%;
  left:50%;
  margin-left:-232px;
}

#coffeeTable #leg1{
  height:20px;
  width:20px;
  top:2px;
  left:2px;
}
#coffeeTable #leg1 #face1{
  height:158px;
  width:20px;
  background-color:rgb(0,0,0);
  -webkit-backface-visibility:visible;
  backface-visibility:visible;
  -webkit-transform:rotateX(90deg);
  -moz-transform:rotateX(90deg);
  -o-transform:rotateX(90deg);
  -ms-transform:rotateX(90deg);
  transform:rotateX(90deg);
  -webkit-transform-origin:0% 0%;
  -moz-transform-origin:0% 0%;
  -o-transform-origin:0% 0%;
  -ms-transform-origin:0% 0%;
  transform-origin:0% 0%;
}
#coffeeTable #leg1 #face2{
  height:20px;
  width:158px;
  background-color:rgba(0,0,0,.98);
  -webkit-backface-visibility:visible;
  backface-visibility:visible;
  -webkit-transform:rotateY(-90deg);
  -moz-transform:rotateY(-90deg);
  -o-transform:rotateY(-90deg);
  -ms-transform:rotateY(-90deg);
  transform:rotateY(-90deg);
  -webkit-transform-origin:0% 0%;
  -moz-transform-origin:0% 0%;
  -o-transform-origin:0% 0%;
  -ms-transform-origin:0% 0%;
  transform-origin:0% 0%;
}
#coffeeTable #leg1 #face3{
  height:158px;
  width:20px;
  top:-138px;
  background-color:rgba(0,0,0,.97);
  -webkit-backface-visibility:visible;
  backface-visibility:visible;
  -webkit-transform:rotateX(-90deg);
  -moz-transform:rotateX(-90deg);
  -o-transform:rotateX(-90deg);
  -ms-transform:rotateX(-90deg);
  transform:rotateX(-90deg);
  -webkit-transform-origin:0% 100%;
  -moz-transform-origin:0% 100%;
  -o-transform-origin:0% 100%;
  -ms-transform-origin:0% 100%;
  transform-origin:0% 100%;
}
#coffeeTable #leg1 #face4{
  height:20px;
  width:158px;
  left:-138px;
  background-color:rgba(0,0,0,.96);
  -webkit-backface-visibility:visible;
  backface-visibility:visible;
  -webkit-transform:rotateY(90deg);
  -moz-transform:rotateY(90deg);
  -o-transform:rotateY(90deg);
  -ms-transform:rotateY(90deg);
  transform:rotateY(90deg);
  -webkit-transform-origin:100% 100%;
  -moz-transform-origin:100% 100%;
  -o-transform-origin:100% 100%;
  -ms-transform-origin:100% 100%;
  transform-origin:100% 100%;
}

#coffeeTable #leg2{
  height:20px;
  width:20px;
  bottom:2px;
  left:2px;
}
#coffeeTable #leg2 #face1{
  height:158px;
  width:20px;
  background-color:rgba(0,0,0,.99);
  -webkit-backface-visibility:visible;
  backface-visibility:visible;
  -webkit-transform:rotateX(90deg);
  -moz-transform:rotateX(90deg);
  -o-transform:rotateX(90deg);
  -ms-transform:rotateX(90deg);
  transform:rotateX(90deg);
  -webkit-transform-origin:0% 0%;
  -moz-transform-origin:0% 0%;
  -o-transform-origin:0% 0%;
  -ms-transform-origin:0% 0%;
  transform-origin:0% 0%;
}
#coffeeTable #leg2 #face2{
  height:20px;
  width:158px;
  background-color:rgba(0,0,0,.98);
  -webkit-backface-visibility:visible;
  backface-visibility:visible;
  -webkit-transform:rotateY(-90deg);
  -moz-transform:rotateY(-90deg);
  -o-transform:rotateY(-90deg);
  -ms-transform:rotateY(-90deg);
  transform:rotateY(-90deg);
  -webkit-transform-origin:0% 0%;
  -moz-transform-origin:0% 0%;
  -o-transform-origin:0% 0%;
  -ms-transform-origin:0% 0%;
  transform-origin:0% 0%;
}
#coffeeTable #leg2 #face3{
  height:158px;
  width:20px;
  top:-138px;
  background-color:rgba(0,0,0,.97);
  -webkit-backface-visibility:visible;
  backface-visibility:visible;
  -webkit-transform:rotateX(-90deg);
  -moz-transform:rotateX(-90deg);
  -o-transform:rotateX(-90deg);
  -ms-transform:rotateX(-90deg);
  transform:rotateX(-90deg);
  -webkit-transform-origin:0% 100%;
  -moz-transform-origin:0% 100%;
  -o-transform-origin:0% 100%;
  -ms-transform-origin:0% 100%;
  transform-origin:0% 100%;
}
#coffeeTable #leg2 #face4{
  height:20px;
  width:158px;
  left:-138px;
  background-color:rgba(0,0,0,.96);
  -webkit-backface-visibility:visible;
  backface-visibility:visible;
  -webkit-transform:rotateY(90deg);
  -moz-transform:rotateY(90deg);
  -o-transform:rotateY(90deg);
  -ms-transform:rotateY(90deg);
  transform:rotateY(90deg);
  -webkit-transform-origin:100% 100%;
  -moz-transform-origin:100% 100%;
  -o-transform-origin:100% 100%;
  -ms-transform-origin:100% 100%;
  transform-origin:100% 100%;
}

#coffeeTable #leg3{
  height:20px;
  width:20px;
  bottom:2px;
  right:2px;
}
#coffeeTable #leg3 #face1{
  height:158px;
  width:20px;
  background-color:rgba(0,0,0,.99);
  -webkit-backface-visibility:visible;
  backface-visibility:visible;
  -webkit-transform:rotateX(90deg);
  -moz-transform:rotateX(90deg);
  -o-transform:rotateX(90deg);
  -ms-transform:rotateX(90deg);
  transform:rotateX(90deg);
  -webkit-transform-origin:0% 0%;
  -moz-transform-origin:0% 0%;
  -o-transform-origin:0% 0%;
  -ms-transform-origin:0% 0%;
  transform-origin:0% 0%;
}
#coffeeTable #leg3 #face2{
  height:20px;
  width:158px;
  background-color:rgba(0,0,0,.98);
  -webkit-backface-visibility:visible;
  backface-visibility:visible;
  -webkit-transform:rotateY(-90deg);
  -moz-transform:rotateY(-90deg);
  -o-transform:rotateY(-90deg);
  -ms-transform:rotateY(-90deg);
  transform:rotateY(-90deg);
  -webkit-transform-origin:0% 0%;
  -moz-transform-origin:0% 0%;
  -o-transform-origin:0% 0%;
  -ms-transform-origin:0% 0%;
  transform-origin:0% 0%;
}
#coffeeTable #leg3 #face3{
  height:158px;
  width:20px;
  top:-138px;
  background-color:rgba(0,0,0,.97);
  -webkit-backface-visibility:visible;
  backface-visibility:visible;
  -webkit-transform:rotateX(-90deg);
  -moz-transform:rotateX(-90deg);
  -o-transform:rotateX(-90deg);
  -ms-transform:rotateX(-90deg);
  transform:rotateX(-90deg);
  -webkit-transform-origin:0% 100%;
  -moz-transform-origin:0% 100%;
  -o-transform-origin:0% 100%;
  -ms-transform-origin:0% 100%;
  transform-origin:0% 100%;
}
#coffeeTable #leg3 #face4{
  height:20px;
  width:158px;
  left:-138px;
  background-color:rgba(0,0,0,.96);
  -webkit-backface-visibility:visible;
  backface-visibility:visible;
  -webkit-transform:rotateY(90deg);
  -moz-transform:rotateY(90deg);
  -o-transform:rotateY(90deg);
  -ms-transform:rotateY(90deg);
  transform:rotateY(90deg);
  -webkit-transform-origin:100% 100%;
  -moz-transform-origin:100% 100%;
  -o-transform-origin:100% 100%;
  -ms-transform-origin:100% 100%;
  transform-origin:100% 100%;
}

#coffeeTable #leg4{
  height:20px;
  width:20px;
  top:2px;
  right:2px;
}
#coffeeTable #leg4 #face1{
  height:158px;
  width:20px;
  background-color:rgba(0,0,0,.99);
  -webkit-backface-visibility:visible;
  backface-visibility:visible;
  -webkit-transform:rotateX(90deg);
  -moz-transform:rotateX(90deg);
  -o-transform:rotateX(90deg);
  -ms-transform:rotateX(90deg);
  transform:rotateX(90deg);
  -webkit-transform-origin:0% 0%;
  -moz-transform-origin:0% 0%;
  -o-transform-origin:0% 0%;
  -ms-transform-origin:0% 0%;
  transform-origin:0% 0%;
}
#coffeeTable #leg4 #face2{
  height:20px;
  width:158px;
  background-color:rgba(0,0,0,.98);
  -webkit-backface-visibility:visible;
  backface-visibility:visible;
  -webkit-transform:rotateY(-90deg);
  -moz-transform:rotateY(-90deg);
  -o-transform:rotateY(-90deg);
  -ms-transform:rotateY(-90deg);
  transform:rotateY(-90deg);
  -webkit-transform-origin:0% 0%;
  -moz-transform-origin:0% 0%;
  -o-transform-origin:0% 0%;
  -ms-transform-origin:0% 0%;
  transform-origin:0% 0%;
}
#coffeeTable #leg4 #face3{
  height:158px;
  width:20px;
  top:-138px;
  background-color:rgba(0,0,0,.97);
  -webkit-backface-visibility:visible;
  backface-visibility:visible;
  -webkit-transform:rotateX(-90deg);
  -moz-transform:rotateX(-90deg);
  -o-transform:rotateX(-90deg);
  -ms-transform:rotateX(-90deg);
  transform:rotateX(-90deg);
  -webkit-transform-origin:0% 100%;
  -moz-transform-origin:0% 100%;
  -o-transform-origin:0% 100%;
  -ms-transform-origin:0% 100%;
  transform-origin:0% 100%;
}
#coffeeTable #leg4 #face4{
  height:20px;
  width:158px;
  left:-138px;
  background-color:rgba(0,0,0,.96);
  -webkit-backface-visibility:visible;
  backface-visibility:visible;
  -webkit-transform:rotateY(90deg);
  -moz-transform:rotateY(90deg);
  -o-transform:rotateY(90deg);
  -ms-transform:rotateY(90deg);
  transform:rotateY(90deg);
  -webkit-transform-origin:100% 100%;
  -moz-transform-origin:100% 100%;
  -o-transform-origin:100% 100%;
  -ms-transform-origin:100% 100%;
  transform-origin:100% 100%;
}

#coffeeTable #shelf{
  height:259px;
  width:452px;
  top:23px;
  left:6px;
  background-color:rgba(0,0,0,0);
  -webkit-backface-visibility:visible;
  backface-visibility:visible;
  -webkit-transform:translateZ(80px);
  -moz-transform:translateZ(80px);
  -o-transform:translateZ(80px);
  -ms-transform:translateZ(80px);
  transform:translateZ(80px);
  -webkit-transform-origin:0% 0%;
  -moz-transform-origin:0% 0%;
  -o-transform-origin:0% 0%;
  -ms-transform-origin:0% 0%;
  transform-origin:0% 0%;
}
#coffeeTable #shelf #face1{
  height:259px;
  width:452px;
  background-color:rgba(0,0,0,.99);
  -webkit-backface-visibility:visible;
  backface-visibility:visible;
  -webkit-transform:translateZ(4px);
  -moz-transform:translateZ(4px);
  -o-transform:translateZ(4px);
  -ms-transform:translateZ(4px);
  transform:translateZ(4px);
  -webkit-transform-origin:50% 50%;
  -moz-transform-origin:50% 50%;
  -o-transform-origin:50% 50%;
  -ms-transform-origin:50% 50%;
  transform-origin:50% 50%;
}
#coffeeTable #shelf #face2{
  height:259px;
  width:452px;
  background-color:rgba(0,0,0,.99);
  -webkit-backface-visibility:visible;
  backface-visibility:visible;
  -webkit-transform:rotateX(180deg) translateZ(4px);
  -moz-transform:rotateX(180deg) translateZ(4px);
  -o-transform:rotateX(180deg) translateZ(4px);
  -ms-transform:rotateX(180deg) translateZ(4px);
  transform:rotateX(180deg) translateZ(4px);
  -webkit-transform-origin:50% 50%;
  -moz-transform-origin:50% 50%;
  -o-transform-origin:50% 50%;
  -ms-transform-origin:50% 50%;
  transform-origin:50% 50%;
}
#coffeeTable #shelf #face3{
  height:8px;
  width:452px;
  top:-4px;
  background-color:rgba(0,0,0,.99);
  -webkit-backface-visibility:visible;
  backface-visibility:visible;
  -webkit-transform:rotateX(90deg);
  -moz-transform:rotateX(90deg);
  -o-transform:rotateX(90deg);
  -ms-transform:rotateX(90deg);
  transform:rotateX(90deg);
  -webkit-transform-origin:0% 50%;
  -moz-transform-origin:0% 50%;
  -o-transform-origin:0% 50%;
  -ms-transform-origin:0% 50%;
  transform-origin:0% 50%;
}
#coffeeTable #shelf #face4{
  height:8px;
  width:452px;
  bottom:-4px;
  background-color:rgba(0,0,0,.99);
  -webkit-backface-visibility:visible;
  backface-visibility:visible;
  -webkit-transform:rotateX(-90deg);
  -moz-transform:rotateX(-90deg);
  -o-transform:rotateX(-90deg);
  -ms-transform:rotateX(-90deg);
  transform:rotateX(-90deg);
  -webkit-transform-origin:0% 50%;
  -moz-transform-origin:0% 50%;
  -o-transform-origin:0% 50%;
  -ms-transform-origin:0% 50%;
  transform-origin:0% 50%;
}
#coffeeTable #shelf #face5{
  height:259px;
  width:8px;
  left:-4px;
  background-color:rgba(0,0,0,.99);
  -webkit-backface-visibility:visible;
  backface-visibility:visible;
  -webkit-transform:rotateY(-90deg);
  -moz-transform:rotateY(-90deg);
  -o-transform:rotateY(-90deg);
  -ms-transform:rotateY(-90deg);
  transform:rotateY(-90deg);
  -webkit-transform-origin:50% 0%;
  -moz-transform-origin:50% 0%;
  -o-transform-origin:50% 0%;
  -ms-transform-origin:50% 0%;
  transform-origin:50% 0%;
}
#coffeeTable #shelf #face6{
  height:259px;
  width:8px;
  right:-4px;
  background-color:rgba(0,0,0,.99);
  -webkit-backface-visibility:visible;
  backface-visibility:visible;
  -webkit-transform:rotateY(90deg);
  -moz-transform:rotateY(90deg);
  -o-transform:rotateY(90deg);
  -ms-transform:rotateY(90deg);
  transform:rotateY(90deg);
  -webkit-transform-origin:50% 0%;
  -moz-transform-origin:50% 0%;
  -o-transform-origin:50% 0%;
  -ms-transform-origin:50% 0%;
  transform-origin:50% 0%;
}

#coffeeTable #top{
  height:100%;
  width:100%;
  background-color:rgba(0,0,0,0);
  -webkit-backface-visibility:visible;
  backface-visibility:visible;
  -webkit-transform:translateZ(168px);
  -moz-transform:translateZ(168px);
  -o-transform:translateZ(168px);
  -ms-transform:translateZ(168px);
  transform:translateZ(168px);
  -webkit-transform-origin:0% 0%;
  -moz-transform-origin:0% 0%;
  -o-transform-origin:0% 0%;
  -ms-transform-origin:0% 0%;
  transform-origin:0% 0%;
}
#coffeeTable #top #face1{
  height:100%;
  width:100%;
  background-color:rgba(0,0,0,.99);
  -webkit-backface-visibility:visible;
  backface-visibility:visible;
  -webkit-transform:translateZ(10px);
  -moz-transform:translateZ(10px);
  -o-transform:translateZ(10px);
  -ms-transform:translateZ(10px);
  transform:translateZ(10px);
  -webkit-transform-origin:50% 50%;
  -moz-transform-origin:50% 50%;
  -o-transform-origin:50% 50%;
  -ms-transform-origin:50% 50%;
  transform-origin:50% 50%;
}
#coffeeTable #top #face2{
  height:100%;
  width:100%;
  background-color:rgba(0,0,0,.99);
  -webkit-backface-visibility:visible;
  backface-visibility:visible;
  -webkit-transform:rotateX(180deg) translateZ(10px);
  -moz-transform:rotateX(180deg) translateZ(10px);
  -o-transform:rotateX(180deg) translateZ(10px);
  -ms-transform:rotateX(180deg) translateZ(10px);
  transform:rotateX(180deg) translateZ(10px);
  -webkit-transform-origin:50% 50%;
  -moz-transform-origin:50% 50%;
  -o-transform-origin:50% 50%;
  -ms-transform-origin:50% 50%;
  transform-origin:50% 50%;
}
#coffeeTable #top #face3{
  height:20px;
  width:100%;
  top:-10px;
  background-color:rgba(0,0,0,.99);
  -webkit-backface-visibility:visible;
  backface-visibility:visible;
  -webkit-transform:rotateX(90deg);
  -moz-transform:rotateX(90deg);
  -o-transform:rotateX(90deg);
  -ms-transform:rotateX(90deg);
  transform:rotateX(90deg);
  -webkit-transform-origin:0% 50%;
  -moz-transform-origin:0% 50%;
  -o-transform-origin:0% 50%;
  -ms-transform-origin:0% 50%;
  transform-origin:0% 50%;
}
#coffeeTable #top #face4{
  height:20px;
  width:100%;
  bottom:-10px;
  background-color:rgba(0,0,0,.99);
  -webkit-backface-visibility:visible;
  backface-visibility:visible;
  -webkit-transform:rotateX(-90deg);
  -moz-transform:rotateX(-90deg);
  -o-transform:rotateX(-90deg);
  -ms-transform:rotateX(-90deg);
  transform:rotateX(-90deg);
  -webkit-transform-origin:0% 50%;
  -moz-transform-origin:0% 50%;
  -o-transform-origin:0% 50%;
  -ms-transform-origin:0% 50%;
  transform-origin:0% 50%;
}
#coffeeTable #top #face5{
  height:100%;
  width:20px;
  left:-10px;
  background-color:rgba(0,0,0,.99);
  -webkit-backface-visibility:visible;
  backface-visibility:visible;
  -webkit-transform:rotateY(-90deg);
  -moz-transform:rotateY(-90deg);
  -o-transform:rotateY(-90deg);
  -ms-transform:rotateY(-90deg);
  transform:rotateY(-90deg);
  -webkit-transform-origin:50% 0%;
  -moz-transform-origin:50% 0%;
  -o-transform-origin:50% 0%;
  -ms-transform-origin:50% 0%;
  transform-origin:50% 0%;
}
#coffeeTable #top #face6{
  height:100%;
  width:20px;
  right:-10px;
  background-color:rgba(0,0,0,.99);
  -webkit-backface-visibility:visible;
  backface-visibility:visible;
  -webkit-transform:rotateY(90deg);
  -moz-transform:rotateY(90deg);
  -o-transform:rotateY(90deg);
  -ms-transform:rotateY(90deg);
  transform:rotateY(90deg);
  -webkit-transform-origin:50% 0%;
  -moz-transform-origin:50% 0%;
  -o-transform-origin:50% 0%;
  -ms-transform-origin:50% 0%;
  transform-origin:50% 0%;
}
